name: D2L book Notebook Canary tests

on:
  # sync weekly
  schedule:
    - cron:  '0 9 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  canary-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-13, windows-latest]
    steps:
        - uses: actions/checkout@v4
        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
            distribution: 'corretto'
            java-version: 17
        - name: Set up Python3
          uses: actions/setup-python@v5
          with:
            python-version: '3.x'
        - name: Install IJava kernel
          run: |
            pip3 install jupyter
            git clone https://github.com/frankfliu/IJava.git
            cd IJava
            ./gradlew installKernel --python python
        - name: Run canary tests
          run: |
            cd chapter_multilayer-perceptrons
            jupyter nbconvert --to html --execute --ExecutePreprocessor.timeout=2000 mlp.ipynb
